{% extends "shared/base.html" %}

{% block title %}
	Sign Up
{% endblock title %}

{% block content %}
	
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Register</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
	    <!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
                <div class="col-lg-12 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            {% for field in form %}
                            	<div class="col-6">
	                                <div class="form-floating">
	                                    {{ field }}
	                                    <label for="{{ field.label }}">{{ field.label }}</label>
	                                </div>
	                            </div>
	                            <p>{{ field.help_text }}</p>
	                            {% for error in field.errors %}
	                            	<p style="color : red">{{ error }}</p>
	                            {% endfor %}
                            {% endfor %}
                            <center>
                                <div class="col-3">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Register</button>
                                </div>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock content %}