{% extends 'shared/base.html' %}
{% load static %}   
{% load render_partial %}

{% block title %}
    Courses
{% endblock title %}


{% block content %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                <form method="get">
                    <input type="text" name="q" class="form-control" placeholder="Search For Course" value="{{ request.GET.q }}">

                </form>
            </div>
        </div>
    </div>
</div>


<!-- Courses Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
            <h1 class="mb-5">Courses</h1>
        </div>
        <div class="row g-4 justify-content-center">
            {% for course in object_list %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="course-item bg-light">
                    <div class="position-relative overflow-hidden">
                        <img class="img-fluid" src="{{ course.image.url }}" alt="" style="height: 200px;width: 400px;">
                        <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                            <a href="{% url 'course_detail' course.id %}" class="flex-shrink-0 btn btn-sm btn-primary px-3"
                                style="border-radius: 30px 0 0 30px;">Read More</a>
                        </div>
                    </div>
                    <div class="text-center p-4 pb-0">
                        {% if course.price != 0 %}
                        <h3 class="mb-0">${{ course.price }}</h3><br>
                        {% else %}
                        <h3 class="mb-0">Free</h3><br>
                        {% endif %}
                        <h5 class="mb-4">{{ course.title }}</h5>
                    </div>
                    <div class="d-flex border-top">
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-user-tie text-primary me-2"></i>{{ course.teacher.username | title }} {{ course.teacher.last_name | title }}</small>
                        <small class="flex-fill text-center border-end py-2"><i
                                class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                        <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{ course.student }}
                            Students</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
</div>
<center>
    <div data-wow-delay="0.1s" class="col-lg-4 col-md-6 wow fadeInUp">
        
            
            <ul>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><li class="btn btn-primary">&#10094; Pre</li></a>
                {% endif %}
                {% for page in paginator.page_range %}
                    <a href="?page={{ page }}"><li class="btn btn-primary">{{ page }}</li></a>
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><li class="btn btn-primary">&#10093; Next</li></a>
                {% endif %}
            </ul>
        
    </div>
</center>
<!-- Courses End -->




{% endblock content %}

